---
layout: default
---

{% if site.data.navigation.masthead %}
  {% include masthead.html %}
{% endif %}

{{ content }}

{% unless site.footer.nav.size == 0 %}
  {% include footer/custom.html %}
{% else %}
  {% include footer/default.html %}
{% endunless %}

<script>
  // JavaScript to force all internal links to use the correct baseurl
  document.addEventListener('DOMContentLoaded', (event) => {
    const baseurl = "{{ site.baseurl }}";
    document.querySelectorAll('a[href^="/"]').forEach(link => {
      // Exclude links that are already correct or are external
      if (!link.href.startsWith(baseurl) && link.hostname === window.location.hostname && !link.href.includes('mailto')) {
        link.href = baseurl + link.getAttribute('href');
      }
    });
  });
</script>
